//! **************************************************************************
// Written by: Map P.20131013 on Tue May 05 19:26:47 2015
//! **************************************************************************

SCHEMATIC START;
COMP "VHDCIIO1<5>" LOCATE = SITE "T12" LEVEL 1;
COMP "Led<3>" LOCATE = SITE "L14" LEVEL 1;
COMP "VHDCIIO1<6>" LOCATE = SITE "N10" LEVEL 1;
COMP "Led<4>" LOCATE = SITE "M13" LEVEL 1;
COMP "VHDCIIO1<7>" LOCATE = SITE "M10" LEVEL 1;
COMP "Led<5>" LOCATE = SITE "D4" LEVEL 1;
COMP "VHDCIIO1<8>" LOCATE = SITE "U11" LEVEL 1;
COMP "Led<6>" LOCATE = SITE "P16" LEVEL 1;
COMP "VHDCIIO1<9>" LOCATE = SITE "R10" LEVEL 1;
COMP "Led<7>" LOCATE = SITE "N12" LEVEL 1;
COMP "VHDCIIO1<10>" LOCATE = SITE "U10" LEVEL 1;
COMP "VHDCIIO1<11>" LOCATE = SITE "R8" LEVEL 1;
COMP "VHDCIIO1<12>" LOCATE = SITE "M8" LEVEL 1;
COMP "VHDCIIO1<13>" LOCATE = SITE "U8" LEVEL 1;
COMP "VHDCIIO1<14>" LOCATE = SITE "U7" LEVEL 1;
COMP "VHDCIIO1<15>" LOCATE = SITE "N7" LEVEL 1;
COMP "VHDCIIO1<16>" LOCATE = SITE "T6" LEVEL 1;
COMP "VHDCIIO1<17>" LOCATE = SITE "R7" LEVEL 1;
COMP "VHDCIIO1<18>" LOCATE = SITE "N6" LEVEL 1;
COMP "VHDCIIO1<19>" LOCATE = SITE "U5" LEVEL 1;
COMP "sw" LOCATE = SITE "A10" LEVEL 1;
COMP "VHDCIIO1<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "CLK" LOCATE = SITE "L15" LEVEL 1;
COMP "VHDCIIO1<1>" LOCATE = SITE "U15" LEVEL 1;
COMP "VHDCIIO1<2>" LOCATE = SITE "U13" LEVEL 1;
COMP "Led<0>" LOCATE = SITE "U18" LEVEL 1;
COMP "VHDCIIO1<3>" LOCATE = SITE "M11" LEVEL 1;
COMP "Led<1>" LOCATE = SITE "M14" LEVEL 1;
COMP "VHDCIIO1<4>" LOCATE = SITE "R11" LEVEL 1;
COMP "Led<2>" LOCATE = SITE "N14" LEVEL 1;
SCHEMATIC END;

